body {
    background-color: #f2f0e9;
    font-family:monospace;
}

#page { 
    display : grid;
    grid-template-rows: 5vh 90vh 5vh;
}
#map {
    height : 90vh;
    border-radius : 1rem;
    border : 0.2rem solid black;

}

.main {
    display : grid;
    grid-template-columns: 1fr 4fr 1fr;
}

#right-of-map {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size : 1.5rem;
}

